a {
    color: #000000;
}
a:hover {
    color: inherit;
}

fieldset {
  min-width: 0;
  padding: 10px;
  margin: 0;
  border: 1px solid #c0c0c0;
}
legend {
  width: inherit;
  padding: 4px;
  font-size: 1em;
  border: 0;
}
textarea{
    resize: vertical;
}
/*
.valign-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.valign-wrapper .valign {
  display: block;
}
*/
.btn{
	border-radius: 0px;
	/*padding: -4px;*/
	padding: 14px 36px;
	/*font-size: 18px;*/
	line-height: 1.33333333;
	/*border-radius: 6px;*/
}
.btn.btn-primary {
    background: #eb3a5f;
    border-color: transparent;
}
.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
    background: #da2a52;
}
.btn.btn-alternate {
    background: #f6beb7;
    color: #000000;
}
.btn.btn-alternate:hover, .btn.btn-alternate:focus, .btn.btn-alternate:active {
    background: #f6beb7;
    color: #000000;
}
.btn.btn-no-border {
    background: transparent;
    border: none;
}
.btn.btn-inverse {
    background: none repeat scroll 0 0 transparent;
    -webkit-box-shadow:inset 0 0 0 2px #000000;
            box-shadow:inset 0 0 0 2px #000000;
    color: #333;
}
.btn.btn-inverse:hover, .btn.btn-inverse:focus, .btn.btn-inverse:active {
    background: #eb3a5f;
    -webkit-box-shadow:none;
            box-shadow:none;
    color: #ffffff;
}
.btn.btn-black {
    background: #000000;
    color: #ffffff !important;
}
.btn.btn-black:hover, .btn.btn-black:focus, .btn.btn-black:active {
    background: #444444;
    color: #ffffff;
}
.btn.btn-primary-opacity {
    background: rgba(235,58,95,.5);
    border-color: transparent;
    color: #ffffff;
    border-width: 0;
}
.btn.btn-primary-opacity:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
    background: rgba(235,58,95,.8);
    border: none;
}
.btn.btn-black-opacity {
    background: rgba(0,0,0,.5);
    border-color: transparent;
    color: #ffffff;
    border-width: 0;
}
.btn.btn-black-opacity:hover, .btn.btn-black-opacity:focus, .btn.btn-black-opacity:active {
    background: rgba(0,0,0,.8);
    border: none;
}